<div id="post-detail">
    <h2><%= post.title %></h2>
    <p><%= post.content %></p>
    <small>
      작성자: <%= post.author.username %> | 조회수: <%= post.views %>
    </small>
    
    <!-- 뒤로가기 버튼 -->
    <button id="back-to-list">🔙 목록으로</button>
  </div>
  