<%- include("../partials/navbar.ejs") %>

<div id="content" class="container">
    <p>게시글을 불러오는 중...</p>
</div>

<link rel="stylesheet" href="/css/style.css">
<script type="module" src="/js/main.js"></script>
